blinker==1.9.0
click==8.3.1
Flask==3.1.2
gevent==25.9.1
greenlet==3.3.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
Werkzeug==3.1.5
zope.event==6.1
zope.interface==8.2
